<div class="unsplash-photo">
  <a
    href="{{concat @photo.links.html '?utm_source=ember_photo_gallery&utm_medium=referral'}}"
    target="_blank" rel="noopener noreferrer"
  >
    <img src="{{@photo.urls.thumb}}" alt="{{@photo.alt_description}}" {{on-load this.setImageOnLoad}}/>
  </a>
  <div class="unsplash-details">
    <div>
      By
      <a
        href="{{concat @photo.user.links.html '?utm_source=ember_photo_gallery&utm_medium=referral'}}"
        target="_blank" rel="noopener noreferrer"
      >
        {{@photo.user.name}}
      </a>
    </div>
    <div>
      On
      <a
        href="https://unsplash.com/?utm_source=ember_photo_gallery&utm_medium=referral"
        target="_blank" rel="noopener noreferrer"
      >
        Unsplash
      </a>
    </div>
  </div>
</div>